<div class="expenseInput">
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">Catagory</label>
      <select id="Expense_Catagory" name="Expense_Catagory">
        <option  
        
        >
        
        </option>
         
      </select>
      <section class="results">
         
      </section>
      <input type="submit" value="Submit">
    </form>
  </div>
  